on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v2
        with:
          deno-version: 2.5.6
      - uses: oven-sh/setup-bun@v2
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm i --frozen-lockfile
      - run: pnpm types
      - run: pnpm test
      - uses: actions/upload-artifact@v4
        with:
          name: 'coverage'
          path: 'coverage'
      - run: |
          echo '## Code Coverage (Deno)' >> $GITHUB_STEP_SUMMARY
          deno coverage >> $GITHUB_STEP_SUMMARY
          echo '### Details:' >> $GITHUB_STEP_SUMMARY  
          deno coverage --detailed >> $GITHUB_STEP_SUMMARY
        env:
          NO_COLOR: 1
      - run: pnpm lint
      - run: pnpm knip
      - run: pnpm format:check
      - run: pnpm pubdry

  publish:
    if: github.event_name == 'push' && github.ref_name == 'main'
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # The OIDC ID token is used for authentication with JSR.
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm i --production --frozen-lockfile --ignore-scripts
      - uses: denoland/setup-deno@v2
        with:
          deno-version: 2.5.6
      - run: pnpm pub
